.background-about-page {
  position: relative;
  background-image: url(../public/b2.jpeg);
  width: 100%;
  height: 260vh;
  object-fit: cover;
}

.inner-div-about {
  top: 15vh;
  left: 5vw;
  position: relative;
  background-color: white;
  width: 55vw;
  height: 100vh;
  border-top-right-radius: 6vw;
  z-index: 1;
}

.outer-div-about {
  position: absolute;
  background-color: rgba(3, 3, 58, 0.705);
  width: 60vw;
  height: 88vh;
  top: 25vh;
  left: 30vw;
  box-shadow: -20px 13px 20px rgba(35, 36, 41, 0.637);
  display: flex;
  justify-content: space-evenly;
  padding-top: 10vh;
  font-size: xx-large;
  color: white;
  border-radius: 1vw;
  z-index: 2;
}

.heading-about {
  font-size: 5vw;
  font-weight: 500;
  position: absolute;
  left: 20vw;
  top: 16vh;
  z-index: 4;
  text-shadow: -2px 2px 2px rgba(0, 1, 37, 0.281);
}
.vision-about {
  font-size: large;
}

.vision-div {
  width: 26vw;
  height: 60vh;
  /* background-color:rgb(0, 0, 85); */
  padding: 1vh 1vw;
}
.logo-vision-title {
  display: flex;
  margin-left: 7vw;
}

.logo-vision-title > div {
  margin-top: 1.6vh;
  margin-right: 1vw;
}
.back-to-home-about {
  display: flex;
  background-color: rgba(23, 23, 102, 0.137);
  width: 9vw;
  height: 7vh;
  position: absolute;
  top: 6vh;
  left: 4vw;
  padding: 0.2vw 1vw;
  border-radius: 1vw;
}
.back-home-logo-about {
  width: 8vw;
  height: 5vh;
  color: white;
}
.back-to-home-about h1 {
  font-size: 1.5vw;
  color: white;
  font-weight: 700;
}

.vision-div > div > h1,
.mission-div > div > h1 {
  text-align: center;
  font-weight: 700;
}
.vision-div > p,
.mission-div > p {
  margin-top: 3vh;
  font-weight: 400;
  font-size: large;
}
.mission-div {
  width: 25vw;
  height: 68vh;
  /* background-color: rgba(44, 28, 114, 0.842); */
  padding: 1vh 1vw;
  font-weight: 400;
  margin-bottom: 4vh;
}
.founders-about {
  position: absolute;
  /* background-color: red; */
  width: 20vw;
  height: auto;
  top: 29vh;
  left: 2.5vw;
  text-align: center;
}
.founders-about > div > h1 {
  font-size: 3vw;
  margin-bottom: 3vh;
  font-style: italic;
  text-decoration: underline;
}
.founders-about > div > h2 {
  font-size: 2.1vw;
  padding-top: 2vh;
  margin-top: 2.9vh;
  font-weight: 600;
}

.linkedin-about {
  margin-left: 9vw;
  margin-top: 1vh;
  color: #0a66c2;
}
.welcome-div-about {
  background-color: white;
  /* width:100%; */
  height: 33%;
  width: 90%;
  position: absolute;
  top: 115vh;
  left: 5vw;
  z-index: 0;
  display: flex;
  justify-content: space-evenly;
  border-top-right-radius: 6vw;
}
.photos-about {
  /* background-color: red; */
  width: 50vw;
  padding: 2vh 2vw;
}
.image-about {
  margin-top: 10vh;
  width: 25vw;
  height: 30vh;
  object-fit: cover;
  border-radius: 1vw;
  box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.596);
}
.image1-about {
  position: absolute;
  border-radius: 1vw;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.438);
  top: 5vh;
  left: 1vw;
  width: 16vw;
  height: 25vh;
  object-fit: cover;
}
.image2-about {
  position: absolute;
  left: 10vw;
  top: 35vh;
  border-radius: 1vw;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.63);
}
.welcome-paragraph {
  background-color: white;
  width: 75vw;
  padding: 1vh 2vw;
  border-top-right-radius: 4vw;
}

.welcome-paragraph > h1 {
  font-size: 4vw;
  font-weight: 400;
  letter-spacing: 0.5vw;
  color: #0a66c2;
}
.welcome-paragraph > p {
  font-size: larger;
  padding-top: 2vh;
  color: rgb(13, 13, 51);
  font-weight: 400;
}
.welcome-bottom-div-about {
  display: flex;
  width: 50vw;
  margin-top: 3vh;
}
.welcome-bottom-div-logo-about {
  width: 11vw;
  height: 11vh;
  color: #0a66c2;
}
.welcome-bottom-div-about > div {
  display: flex;
  justify-content: space-between;
}
.welcome-bottom-div-about > div > p {
  font-size: 1.9vw;
  font-weight: 600;
  color: #101b4d;
}

.footer {
  background-color: red;
}
.footer-about {
  position: absolute;
  display: flex;
  width: 89vw;
  top: 205vh;
  height: 50vh;
  left: 5vw;
  background-color: #061243a9;
  gap: 5vh;
  padding: 2vh 2vw;
  flex-direction: row-reverse;
}

.footer-about > div {
  width: 50vh;
  /* background-color: red;  */
}

.footer-about > div > h1 {
  font-size: xx-large;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  color: white;
  letter-spacing: 0.2vw;
}
.quick-links-about > div {
  color: white;
  margin-left: 3vw;
  margin-top: 2vh;
  font-size: x-large;
}
.resources-about > div {
  color: white;
  margin-left: 3vw;
  margin-top: 2vh;
  font-size: 1.5vw;
}
.get-in-touch-about > div > p {
  color: white;
  padding: 2vh 2vw;
}
.location-about {
  display: flex;
  margin-top: 2vh;
}
.location-logo-about {
  width: 4vw;
  height: 5vh;
  color: #0a66c2;
}
.location-about > p {
  color: white;
}
.stay-connected-div-about > Link > div > p {
  color: white;
  padding: 0.5vh 2vw;
  font-size: 1.5vw;
}
.media-logo-about {
  color: white;
  width: 5vw;
  height: 5vh;
  padding-top: 1vh;
}
.stay-connect {
  margin-top: 1vh;
}

@media (max-width: 575.28px) {
  .heading-about {
    top: 6vh;
    font-size: 5vh;
    left: 8vw;
  }
  .inner-div-about {
    width: 90%;
    top: 5vh;
    height: 195vh;
    border-bottom-left-radius: 2vh;
  }
  .outer-div-about {
    width: 80%;
    left: 13vw;
    top: 14vh;
    height: 130vh;
    flex-direction: column;
  }
  .vision-div {
    background-color: rgba(138, 138, 230, 0.836);
    width: 35vh;
    margin-left: 2vh;
    height: 50vh;
    padding: 1vh 2vw;
    border-radius: 2vh;
  }
  .mission-div {
    background-color: rgba(138, 138, 230, 0.836);
    width: 35vh;
    margin-left: 2vh;
    padding: 1vh 2vw;
    border-radius: 2vh;
    height: 60vh;
  }
  .welcome-div-about {
    top: 202vh;
    /* background-color: red; */
    height: auto;
  }
  .welcome-bottom-div-about > div {
    justify-content: space-evenly;
    /* background-color: red; */
    width: 10vh;
  }

  .founders-about {
    top: 140vh;
    left: 10vw;
    /* background-color: red; */
    width: 80%;
    height: 35vh;
  }
  .founders-about > div > h2 {
    font-size: 4vh;
    margin: 0;
  }
  .founders-about > div > h1 {
    font-size: 3vh;
    margin-top: 4vh;
    font-style: italic;
    text-decoration: underline;
    font-weight: 600;
  }
  .founders-about > div > p {
    font-weight: 500;
    font-size: 2vh;
  }
  .linkedin-about {
    margin-left: 16vh;
    margin-top: 1vh;
    color: #0a66c2;
    width: 5vw;
    height: 5vh;
  }
  .footer-about {
    top: 315vh;
  }
  .welcome-paragraph > h1 {
    font-size: 3.9vh;
    font-weight: 500;
    letter-spacing: 0.5vw;
    color: #0a66c2;
    z-index: 100;
  }
  .welcome-paragraph {
    /* background-color: red; */
    width: 89vw;
    padding: 1vh 2vw;
  }
  .image1-about {
    display: none;
  }
  .photos-about {
    position: absolute;
  }
  .image2-about {
    opacity: 0.2;
    top: 5vh;
    z-index: 99;
  }
  .image-about {
    opacity: 0.2;
    position: absolute;
    width: 70vw;
    top: 10vh;
    height: 25vh;
    left: 0;
  }
  .welcome-paragraph > p {
    font-size: 2.5vh;
    padding-top: 2vh;
    color: rgb(13, 13, 51);
    font-weight: 500;
  }
  .welcome-bottom-div-about {
    display: flex;
    width: 50vw;
    flex-direction: column;
    gap: 1vh;
    margin-top: 3vh;
  }
  .stay-connect {
    margin-top: 1.6vh;
    margin-left: 1.5vh;
  }
  .welcome-bottom-div-about > div {
    display: flex;
    /* background-color: red; */
    justify-content: space-evenly;
    width: 150%;
    gap: 1vh;
    margin-left: 2vh;
  }
  .welcome-bottom-div-about > div > p {
    font-size: 2.9vh;
    font-weight: 600;
    margin-top: 3.5vh;
    color: #101b4d;
  }
  .welcome-bottom-div-logo-about {
    width: 9vh;
    height: 11vh;
    /* background-color: #37474f; */
  }
  .back-home-logo-about {
    color: rgb(7, 16, 66);
    top: 2vh;
    font-size: 2vh;
    left: 2.5vh;
    position: fixed;
    z-index: 10000;
  }
  .footer-about {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: start;
  }
  .footer-about > div {
    width: 50vh;
    /* background-color: red;  */
    width: 95%;
    justify-content: center;
    margin-left: 1vh;
  }
  .footer-about > div > h1 {
    font-size: x-large;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    color: white;
    letter-spacing: 0.2vw;
  }
  .location-about {
    display: flex;
    margin-top: 3vh;
  }
  .location-logo-about {
    width: 3.5vh;
    height: 6.5vh;
  }
  .resources-about > div {
    color: white;
    margin-left: 3vw;
    margin-top: 2vh;
    font-size: 1.9vh;
  }
}
