@tailwind base;
@tailwind components;
@tailwind utilities;

 .outer{
    height: 100vh;
    overflow-y:hidden;
  }
  .logo{
    width: 19.8vw;
    height:12vh;
    display: flex;
    justify-content: start;
    background-color: white;
  } 
  .title-bar-dashboard{
    font-size:2vw;
    padding-top: 0.7vw;
    color:white;
    margin-right:2vw;
  }

  .main-dashboard{
    display:flex;
  }
  .features{
    display: flex;
    font-size: 23px;
    margin-top: 9px;
    margin-left: 10px;
    right:0;
  }
  .side-bar div{
    color:white;
  
  
  }
  .dash{
    display: flex;
    justify-content: flex-end;
    top: 20px;
    margin-right: 30px;
    margin-top: 10px;
  }
  
  .side-bar div:hover{
    background-color: #607d99;
    font-size: 50px;
    cursor: pointer;
  }
  .side-bar img{
    margin:0px;
    object-fit: cover;
  }
  .menu-dashboard{
    width:80%;
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
    background-image: url(../public/b2.jpeg);
    object-fit: cover;
    padding: 0.5vw;
  }
  .menu-step1-dashboard{
    display: flex;
    justify-content: space-evenly;
  }

  .total-employee-dashboard{
    font-size:medium;
    line-height: 1.25rem;
  }

  .t-number{
    font-size:1.8vw;
    text-align: center;
    padding-top: 0.5vw;
  }

  .t-text{
    font-size: medium;
    padding-top: 1vw;
  }

  .row2-text{
    font-size: xx-large;
    color:white;
  }

  .row2{
    display:flex;
    justify-content: space-between;
  }
  .first-box1{
    width:19vw;
    background-color: white;
    height:15vh;
    border-radius: 4px;
    padding: 3px;
    
  }
  
  .second-box1{
    width:60%;
    height:25%;
    margin-left: 1vw;
    padding: 0.5vw;
    border-radius: 1vw;
    background-color: white;
  }
  .second-box1>div>p{
    text-align: center;
    font-weight: 500;
  
  }

  .timer{
    text-align: center;
    font-size: 2vw;
    margin:1vw;
  }

  .timer-btn{
    display: flex;
    justify-content: space-evenly;
  }

  .second-box2{
    margin:0.5vw;
    padding: 0.7vw;
    width:30%;
    height:25%;
    border-radius: 1vw;
    background-color: white;
  }

  .m-target{
    font-size:medium;
    padding-bottom: 1vw;
    text-align: center;
  }
  .m-number{
    font-size:x-large;
    text-align: center;
  }
  .add-target{
    text-align: center;
    padding-top: 0.5vw;
  }
  .btn{
    background-color: rgb(4, 30, 102);
    font-size: 1.5vw;
    color:white;
    padding: 3px;
    font-weight:500;
    border-radius: 0.5vw;
  }

  .third-row{
    display:flex;
    margin-top:1vw;
    margin-bottom: 1vw;
  }
  .third-box1{
    width:42vw;
    margin:0.4vw;
    margin-top:1.5vw;
    margin-right: 1vw;
    background-color: white;
    padding:1vw 0.5vw;
    border-radius: 0.3vw;
  }
  .box1-heading{
    display:flex;
    justify-content: space-between;
  }
  .box1-heading>p{
    font-weight: 600;
    font-size:large
  }
  .box1-divs{
    display: flex;
    justify-content: space-evenly;
  }
  .annonce-boxes{
    background-color: rgb(202, 198, 198);
    margin-top: 0.2vw;
    padding: 0.2vw;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    
  }
  .annonce-boxes>div>h6{
    font-size:1.3vw;
    font-weight: 450;
  }
  .annonce-boxes>div>p{
    font-size: 0.9vw;
  }
  .pin-menu{
    margin-top: 1vw;
    gap:2px;
    width:2.5vw;
    /* background-color: red; */
  }
  .third-box2{
    width:40vw;
    padding: 0.5vw;
    background-color: rgba(167, 163, 163, 0.904);
    border-radius:0.5vw;
    margin:0.5vw
  }
  .box2-heading{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.5vw;
    padding:0vw 0.5vw;
  }

  .box2-heading>div>h6{
    font-size:1.5vw;
    font-weight: 500;
  }

  .chat-container {
    border: 1px solid #ddd;
    padding: 10px;
    max-height: 25vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.wrapper {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}
.wrapper>input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.message-box{
  margin: 5px 0;
}
  .header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, #1e40af , #1C2043 );
  }
  /* Large screens (laptops and desktops) */
@media (min-width: 1024px) {
    .logo {
      width: 20vw;
      background-color: gold;
    }
    .title-bar-dashboard {
      font-size: 2vw;
    }
    .btn {
      font-size: 1.2vw;
    }
    .first-box1{
        width:19vw;
        background-color: white;
        height:17vh;
        border-radius: 4px;
        padding: 3px;
      }
      
      .third-box1{
        width:42vw;
        margin:0.4vw;
        margin-top:0.7vw;
        margin-right: 1vw;
      }
      .side-bar{
        width: 20%;
        background-image: linear-gradient(to bottom right, #1C2043 , #1e40af);
      }
  }
  /* Tablets (portrait and landscape) */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
      width: 40vw;
  }
  .title-bar-dashboard {
      font-size: 3.5vw;
      align-items: center;
  }
  .btn {
      font-size: 5vw;
  }
  .first-box1, .third-box1 {
      width: 40vw;
      
      height: auto;
      margin: 1vw;
  }
  .features{
    margin-left: 0vw;
    padding-right: 30vw;
    font-size: x-large;
  }
  .side-bar{
    width: 23%;
    background-image: linear-gradient(to bottom right, #1C2043 , #1e40af);
    
  }
  .first-box1{
    width: 15vw;
    font-size: 50px;
    
  }
  .second-box2{
    width: 30vw;
    margin-right: 5vw;
  }
}
  

 