/*Forget CSS*/  

.forget-main{
    display:flex;
    justify-content: center;
    margin-top: 25vh;
    
  }
  
  .forget{
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    text-align: center;
    padding: 4vh 4vw;
    background-color: white;
  }
  
  .forget h1{
    font-size: 4.5vh;
    font-weight: 600;
    padding: 2vh 1vh;
  }
  
  .forget hr{
    height: 3px;
    width: 30vw;  
  }
  
  .forget p{
    text-align: left;
    font-size: 2.5vh;
    font-weight: 400;
    padding: 2vh 0;
  }
  
  .forget input{
    padding: 1vh 1vw;
    margin-top: 2.5vh;
    border-radius: 5px;
    border:2px solid #063970;;
    width: 22vw;
  }
  
  .forget-button{
    display: flex;
    justify-content:space-evenly;
    padding: 2vh 0;
    margin-top: 4vh;
    margin-left: 10vw;
    
  }
  
  .cancle-button{
    margin-right: 4vw;
    background-color: #E4E6EB;
    padding: 1vh 1vw ;
    border-radius: 5px;
  }
  
  .search-button{
    background-color: #063970;;
    padding: 1vh 1vw ;
    border-radius: 5px;
    color: #fff;
  }
  .forget h1{
    color:#063970;
  }
  .forget p{
    color:#063970;
  }
  
  /* End Forget CSS*/