@tailwind base;
@tailwind components;
@tailwind utilities;

.background-div1 {
  width: 100%;
  height: 100vh;
  background-image: url(../public/b2.jpeg);
}

.main1 {
  position: relative;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-weight: 800;
  padding-top: 4vh;
}
.left-of-login {
  background-color: transparent;
  width: 60%;
  height: 100vh;
}
.main1-login {
  background-color: white;
  height: 100vh;
  width: 40%;
  margin-right: 17vw;
}
.login {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.forget-link {
  text-align: end;
  padding-right: 4vw;
  font-weight: 600;
}
.main1-login h1 {
  font-size: 4vw;
  color: #063970;
  font-weight: 600;
  margin-bottom: 5vh;
  text-align: center;
  margin-top: 15vh;
}
.main1-login > div {
  margin: 2vw;
  /* background-color: red; */
  /* background-color: rgb(236, 235, 235); */
  height: 70vh;
  border-radius: 2vw;

  /* box-shadow: -10px -10px 10px rgb(160, 155, 155); */
}
.label1-input1 {
  color: #063970;
  font-size: 1.5vw;
  font-weight: 600;
}
.label2-input2 {
  color: #063970;
  font-size: 1.5vw;
  font-weight: 600;
  margin-left: 3px;
}
.left-most-div-login {
  /* background-color: rgb(16, 0, 61); */
  background-color: white;
  position: absolute;
  top: 40vh;
  left: 5vw;
  height: 26vh;
  width: 30%;
  padding: 1vw;
  z-index: 5;

  color: black;
  border-radius: 1vw;
  box-shadow: 10px 10px 30px black;
  animation-name: login;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.left-most-div-login > h4 {
  font-size: 3vw;
}
.left-most-div-login > p {
  font-size: 4vw;
  font-weight: 500;
}
@keyframes login {
  from {
    left: -30vw;
  }
  to {
    left: 5vw;
  }
}
@keyframes ugyan {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.brand-logo {
  height: 80vh;
  width: 30vw;
  object-fit: cover;
  margin-left: 34vw;
  box-shadow: 10px 10px 10px rgba(1, 2, 8, 0.678);
  margin-top: 5vw;
  left: -15vw;
  position: absolute;
  border-bottom-left-radius: 2vw;
  border-top-left-radius: 2vw;
  z-index: 4;
  animation-name: ugyan;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}
.input1 {
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
  /* background-color: orange; */
  padding: 1vw;
}
.input2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
  padding: 1vw;
}
.input-field-1 {
  margin-left: 2vw;
  border: 2px solid #063970;
  border-radius: 5px;
  color: black;
  border-color: 2px black;
  font-weight: 500;
  padding: 2px 1px;
  width: 20vw;
  height: 6vh;
  padding: 1vw;
}

/* .submit-login1 {
  background-color: #063970;
  color: white;
  display: flex;
  margin-left: 9vw;
  margin-top: 7vh;
  padding: 1vh 1.5vw;
  font-size: 2.5vh;
  font-weight: 600;
  width: 80%;
  padding-left: 2vw;
  border-radius: 5px;
} */

.submit-login:hover {
  background-color: #2c3e50;
  font-size: 2.5vh;
  cursor: pointer;
}

/* .main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 40%;
  border: 1px solid black;
  border-radius: 10px;
} */

/* .menu-box h3 {
  font-size: 28px;
  text-align: center;
  padding-top: 4px;
  font-weight: 500;
  padding-bottom: 15px;
}

.menu-box div {
  font-size: 20px;
  padding-left: 6px;
  font-weight: 500;
  padding-top: 8px;
}

.prior-other-div {
  padding: 0.2vw;
  margin: 0.2vw;
  border-radius: 5px;
  background-color: rgb(185, 185, 185);
}

.prior-other-div > div > h5 {
  font-size: 1.5vw;
  font-weight: 480;
}
.prior-other-div > div > p {
  font-size: 0.9vw;
}

.list-items-div {
  background-color: rgba(207, 207, 207, 0.726);
  width: 38vw;
  height: 40vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 18vh;
  font-size: large;
  font-weight: 500;
}
.list-items-div-recruit {
  background-color: rgba(207, 207, 207, 0.726);
  width: 38vw;
  height: 40vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 18vh;
  font-size: large;
  font-weight: 500;
}
.list-items-div-calender {
  background-color: rgba(207, 207, 207, 0.726);
  width: 38vw;
  height: 80vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 35vh;
  font-size: large;
  font-weight: 500;
}
.list-items-div-communication {
  background-color: rgba(207, 207, 207, 0.726);
  width: 38vw;
  height: 80vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 35vh;
  font-size: large;
  font-weight: 500;
}

.list-items-div-set {
  background-color: rgba(207, 207, 207, 0.726);
  width: 38vw;
  height: 40vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 18vh;
  font-size: large;
  font-weight: 500;
}
.list-items-div-set-b {
  width: 77vw;
  height: 40vh;
  border-radius: 0.5vw;
  background-color: rgba(207, 207, 207, 0.726);
  font-size: large;
  font-weight: 500;
  text-align: center;
  padding-top: 15vh;
}
.list-items-div-time {
  background-color: rgba(207, 207, 207, 0.726);
  width: 38vw;
  height: 40vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 18vh;
  font-size: large;
  font-weight: 500;
} */
.password-eye-icon {
  position: absolute;
  right: 21vw;
  top: 49.2vh;
}

@media (max-width: 600px) {
  .main1 {
    background-color: grey;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 90vw;
    height: auto;
    margin: 10vh auto;
  }

  .main1 h1 {
    font-size: 8vw;
  }

  .input-field {
    width: 80%;
    margin-left: 0;
  }

  .submit-login {
    width: 60%;
    margin-bottom: 2vw;
    padding-left: 13vw;
    margin-left: 20vw;
  }
  .label1,
  .label2 {
    font-size: x-large;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .main1 {
    background-color: white;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 70vw;
    height: auto;
    margin: 15vh auto;
  }

  .main1 h1 {
    font-size: 4vw;
  }

  .input-field {
    width: 80%;
  }

  .submit-login {
    width: 60%;
    margin-bottom: 2vw;
    padding-left: 13vw;
  }
  .label1,
  .label2 {
    font-size: x-large;
  }
}

@media (min-width: 901px) {
  .main1 {
    background-color: white;
    width: 30vw;
    height: auto;
  }

  .main1 h1 {
    font-size: 3vw;
  }

  .input-field {
    width: 15vw;
  }

  .submit-login {
    width: auto;
    margin-bottom: 2vw;
  }
}
@media (min-width: 1000px) and (max-width: 15000px) {
  .main1 {
    background-color: white;
    width: 30vw;
    height: auto;
  }

  .main1 h1 {
    font-size: 3vw;
  }

  .input-field {
    width: 18vw;
    height: 5vh;
  }

  .submit-login {
    width: 80%;
    margin-left: 4vw;
    margin-bottom: 1.5vw;
    margin-top: 2vw;
  }
  .label1,
  .label2 {
    font-size: 1.5vw;
  }
}

@media (max-width: 575.98px) {
  /* Add styles for phones here */
  .input1,
  .input2 {
    flex-direction: column;
    margin-bottom: 2vh;
  }
  .input-field {
    width: 100%;
  }
  .left-of-login {
    display: none;
  }
  .main1-login {
    height: 50vh;
    width: 40vh;
    left: 4vh;
    top: 15vh;
    border-radius: 1vh;
    position: absolute;
  }
  .main1-login > div > h1 {
    font-size: 4vh;
    margin: 0;
    margin-top: 3vh;
  }
  .label1-input1,
  .label2-input2 {
    font-size: 2.5vh;
    padding-left: 1.5vw;
  }

  .input-field-1 {
    width: 95%;
  }
  .submit-login {
    margin: 0;
    margin-top: 3vh;
  }
  .password-eye-icon {
    right: 5vh;
    top: 29vh;
  }
}
