@tailwind base;
@tailwind components;
@tailwind utilities;

.background-div1{
  width:100%;
  height: 100vh;
  background-image: url(../public/b2.jpeg);
}

.main1{
  position:relative;
  width:30vw;
  height: 25vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 20vh;
  border-radius: 10px;
  font-weight: 800;
  padding-top: 3vh;
}


.login{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
}

.main1 h1{
  font-size: 3vw;
  color: #063970;;
  font-weight: 600;
  margin-bottom: 5vh;
  text-align: center;
  margin-top: 2.5vh;
  

}
.label1{
  color:#063970;;
  font-size: 1.4vw;
  font-weight: 600;
}
.label2{
  color:#063970;;
  font-size: 1.4vw;
  font-weight: 600;
  margin-left:3px ;
}
.input1{
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
}
.input2{
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
}
.input-field{
  margin-left: 2vw;
  border:2px solid #063970;;
  border-radius: 5px;
  color: black;
  border-color: 2px black ;
  font-weight: 500;
  padding: 2px 1px;
  width:15vw;
  height: 5vh;
  padding: 1vw;
}

.submit{
  background-color:#063970;;
  color:white;
  display: flex;
  margin-left: 12vw; 
  margin-top: 3.5vh;
  padding: 1vh 1.5vw;
  font-size: 2.5vh;
  font-weight: 600;
  border-radius: 5px;
}

.submit:hover{
  background-color: #2c3e50;
  font-size: 2.5vh;
  cursor: pointer;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 40%;
  border:1px solid black;
  border-radius: 10px;
  
}

i-main{
  border: 1px solid black;
}
.menu-box{
  width:300px;
  height:120px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.281);
}

.menu-box h3{
  font-size: 28px;
  text-align: center;
  padding-top: 4px;
  font-weight: 500;
  padding-bottom: 15px;

}

.menu-box div{
  font-size: 20px;
  padding-left: 6px;
  font-weight: 500;
  padding-top:8px;
}

.prior-other-div{
  padding: 0.2vw;
  margin:0.2vw;
  border-radius: 5px;
  background-color: rgb(185, 185, 185);
}

.prior-other-div>div>h5{
    font-size: 1.5vw;
    font-weight: 480;
}
.prior-other-div>div>p{
    font-size: 0.9vw;
}

.list-items-div{
  background-color:rgba(207, 207, 207, 0.726);
  width:38vw;
  height:40vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 18vh;
  font-size: large;
  font-weight: 500;
}
.list-items-div-recruit{
  background-color:rgba(207, 207, 207, 0.726);
  width:38vw;
  height:40vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 18vh;
  font-size: large;
  font-weight: 500;
}
.list-items-div-calender{
  background-color:rgba(207, 207, 207, 0.726);
  width:38vw;
  height:80vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 35vh;
  font-size: large;
  font-weight: 500;
}
.list-items-div-communication{
  background-color:rgba(207, 207, 207, 0.726);
  width:38vw;
  height:80vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 35vh;
  font-size: large;
  font-weight: 500;
}
.list-items-div-set{
  background-color:rgba(207, 207, 207, 0.726);
  width:38vw;
  height:40vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 18vh;
  font-size: large;
  font-weight: 500;
}
.list-items-div-set-b{
  width:77vw;
  height:40vh;
  border-radius: 0.5vw;
  background-color: rgba(207, 207, 207, 0.726);
  font-size: large;
  font-weight: 500;
  text-align: center;
  padding-top: 15vh;
}
.list-items-div-time{
  background-color:rgba(207, 207, 207, 0.726);
  width:38vw;
  height:40vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 18vh;
  font-size: large;
  font-weight: 500;
}
@media (max-width: 600px) {
  .main1 {
    background-color: grey;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 90vw;  
    height: auto; 
    margin: 10vh auto; 
  }

  .main1 h1 {
    font-size: 8vw;
  }

  .input-field {
    width: 80%; 
    margin-left: 0; 
  }

  .submit {
    
    width: 60%; 
    margin-bottom: 2vw;
    padding-left: 13vw;
    margin-left: 20vw;
    
  }
  .label1, .label2{
    font-size: x-large;
  }
}


@media (min-width: 601px) and (max-width: 900px) {
  .main1 {
    background-color: grey;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 70vw; 
    height: auto; 
    margin: 15vh auto; 
  }

  .main1 h1 {
    font-size: 4vw; 
  }

  .input-field {
    width: 80%;
  }

  .submit {
    width: 60%; 
    margin-bottom: 2vw;
    padding-left: 13vw;
    
  }
  .label1,.label2{
    font-size: x-large;
  }
}


@media (min-width: 901px) {
  .main1 {
    background-color: grey; 
    width: 30vw; 
    height: auto; 
  }

  .main1 h1 {
    font-size: 3vw; 
  }

  .input-field {
    width: 15vw; 
  }

  .submit {
    width: auto; 
    margin-bottom: 2vw;

  }
  
  
}
  @media (min-width: 1000px) and (max-width:15000px) {
  .main1 {
    background-color: grey; 
    width: 30vw; 
    height: auto; 
  }

  .main1 h1{
    font-size: 3vw; 
  }

  .input-field {
    width: 18vw;
    height: 5vh; 
  }

  .submit {
    width: auto; 
    margin-bottom: 1.5vw;
    

  }
  .label1, .label2{
    font-size: 1.5vw;
    
  }
}
  
