@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset css */

.reset-main{
    position: relative;
    width:30vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    margin-left: 75vh;
    margin-top: 20vh;
    border-radius: 10px;
    font-weight: 800;
    padding: 2vw;
    background-color: #C4E9D7;
  }
  .reset-main h1{
    font-size: 5vh;
    font-weight: 650;
    text-align: center;
    padding: 1vw;
  }
  
  .reset-inner-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
  }
  
  .pwd input{
    border:none;
    border-radius: 5px;
    width:100%;
    margin:3px;
    border:2px solid black;
    padding:2px 2px 6px 6px;
  }
  
  .pwd label{
    font-size: 3vh;
    font-weight: 700;
  }

  .submit-button{
    background-color: #216FDB;
    margin-top: 2vh;
    margin-left: 0.2vw;
  }
  
  /* close reset css */
  