.menu-settings {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-image: url(../public/b2.jpeg);
  object-fit: cover;
  padding: 0.5vw;
}
.list-items-div-settings {
  background-color: rgba(207, 207, 207, 0.726);
  width: 38vw;
  height: 40vh;
  border-radius: 0.5vw;
  padding: 2vw;
  text-align: center;
  padding-top: 18vh;
  font-size: large;
  font-weight: 500;
}

.side-bar-settings div {
  color: white;
}

.dash-settings {
  display: flex;
  justify-content: flex-end;
  top: 20px;
  margin-right: 30px;
  margin-top: 10px;
}

.side-bar-settings div:hover {
  background-color: #607d99;
  font-size: 50px;
  cursor: pointer;
}
.title-bar-settings {
  font-size: 2vw;
  padding-top: 0.7vw;
  color: white;
  margin-right: 2vw;
}
.outer-settings {
  height: 100vh;
  overflow-y: hidden;
}
.logo-settings {
  width: 19.8vw;
  height: 12vh;
  display: flex;
  justify-content: start;
  background-color: white;
  background-image: linear-gradient(#1e40af, #1d2e73);
  padding-top: 1vh;
  object-fit: cover;
}
.features-settings {
  display: flex;
  font-size: 23px;
  margin-top: 9px;
  margin-left: 10px;
  right: 0;
}

.list-items-div-set-b {
  width: 77vw;
  height: 40vh;
  border-radius: 0.5vw;
  background-color: rgba(207, 207, 207, 0.726);
  font-size: large;
  font-weight: 500;
  text-align: center;
  padding-top: 15vh;
}

.header-settings {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right, #1e40af, #1c2043);
}
.main-settings {
  display: flex;
}
.side-bar-settings {
  width: 20%;
  background-image: linear-gradient(to bottom right, #1c2043, #1e40af);
}
.settings-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vw;
  gap: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
}
/*////////THiS is for responsive side-bar for mobiles*/
@media (max-width: 768px) {
  .side-bar-settings {
    display: none;
  }

  .mobile-menu-icon-settings {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    color: white;
    margin-right: 2vw;
    margin-top: 2vw;
  }

  .mobile-dropdown-settings {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 100%;
  }

  .mobile-dropdown-settings a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #eee;
  }

  .mobile-dropdown-settings a:hover {
    background-color: #f0f0f0;
  }
}

/* For larger screens, hide mobile menu icon */
@media (min-width: 769px) {
  .mobile-menu-icon-settings {
    display: none;
  }
}

@media (max-width: 575.98px) {
  /* Add styles for phones here */
  /* Mobile Screen (max-width: 575.98px) */
  @media (max-width: 575.98px) {
    .menu-settings {
      width: 100%;
      padding: 4vw;
      height: 70vh;
      background-size: cover;
    }

    .list-items-div-settings,
    .list-items-div-set-b {
      width: 90vw;
      height: auto;
      padding: 4vw;
      font-size: medium;
      padding-top: 10vh;
      text-align: center;
    }

    .side-bar-settings {
      width: 100%;
      display: none; /* Hide sidebar on mobile */
    }

    .side-bar-settings div {
      font-size: 4vw;
    }

    .dash-settings {
      justify-content: center;
      margin: 0;
    }

    .side-bar-settings div:hover {
      font-size: 4.5vw;
    }

    .title-bar-settings {
      font-size: 4vw;
      font-weight: 700;
      padding: 1vh;
      text-align: center;
      margin: 0;
    }
    .mobile-menu-icon-settings {
      padding-bottom: 1vh;
    }

    .outer-settings {
      height: auto;
      overflow-y: auto;
    }

    .logo-settings {
      width: 100%;
      height: auto;
      justify-content: center;
      padding: 2vw;
    }

    .features-settings {
      font-size: 4vw;
      margin: 0;
      text-align: center;
    }

    .header-settings {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      padding: 2vw;
    }

    .main-settings {
      display: block;
      height: auto;
    }

    .settings-options {
      flex-direction: column;
      gap: 2vw;
      margin: 2vw;
    }
  }
}

/* Medium Devices (tablets, 576px to 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Add styles for tablets here */
}

/* Large Tablets and Small Laptops (768px to 1023.98px) */
@media (min-width: 700px) and (max-width: 1024px) {
  .header-settings {
    flex-wrap: wrap;
    flex-direction: row; /* Stack elements vertically on tablets if needed */
    align-items: center;
    padding: 3vw;
  }
  .side-bar-settings {
    width: 20%;
    background-image: linear-gradient(to bottom right, #1c2043, #1e40af);
  }
  .list-items-div-settings {
    width: 80%;
    height: 10vh;
    padding: 2vw;
    margin: auto;
    font-size: x-large;
  }
  .logo-settings {
    width: 130vw; /* Increase logo size slightly for tablets */
    height: 15vh;
  }
  .features-settings {
    font-size: 22px;
    margin: 5px;
    text-align: center;
  }
  .settings-options {
    flex-direction: column;
    gap: 2vw;
    margin: 1vw 0;
  }
  .dash-settings {
    margin-top: 1vw;
    margin-right: 2vw;
  }
  .outer-settings {
    overflow-y: auto;
  }
  .side-bar-settings div:hover {
    font-size: 35px;
  }
  .mobile-menu-icon-settings {
    display: none;
  }
  .title-bar-settings {
    font-size: x-large;
  }
}

/* Laptops (1024px to 1279.98px) */
@media (min-width: 1024px) {
  /* Add styles for laptops here */
  .menu-settings {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-image: url(../public/b2.jpeg);
    object-fit: cover;
    padding: 0.5vw;
  }
  .list-items-div-settings {
    background-color: rgba(207, 207, 207, 0.726);
    width: 38vw;
    height: 40vh;
    border-radius: 0.5vw;
    padding: 2vw;
    text-align: center;
    padding-top: 18vh;
    font-size: large;
    font-weight: 500;
  }

  .side-bar-settings div {
    color: white;
  }

  .dash-settings {
    display: flex;
    justify-content: flex-end;
    top: 20px;
    margin-right: 30px;
    margin-top: 10px;
  }

  .side-bar-settings div:hover {
    background-color: #607d99;
    font-size: 50px;
    cursor: pointer;
  }
  .title-bar-settings {
    font-size: 2vw;
    padding-top: 0.7vw;
    color: white;
    margin-right: 2vw;
  }
  .outer-settings {
    height: 100vh;
    overflow-y: hidden;
  }
  .logo-settings {
    width: 19.8vw;
    height: 12vh;
    display: flex;
    justify-content: start;
    background-color: white;
  }
  .features-settings {
    display: flex;
    font-size: 23px;
    margin-top: 9px;
    margin-left: 10px;
    right: 0;
  }

  .list-items-div-set-b {
    width: 77vw;
    height: 40vh;
    border-radius: 0.5vw;
    background-color: rgba(207, 207, 207, 0.726);
    font-size: large;
    font-weight: 500;
    text-align: center;
    padding-top: 15vh;
  }

  .header-settings {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, #1e40af, #1c2043);
  }
  .main-settings {
    display: flex;
  }
  .side-bar-settings {
    width: 20%;
    background-image: linear-gradient(to bottom right, #1c2043, #1e40af);
  }
  .settings-options {
    display: flex;
    margin-top: 1vw;
    gap: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
  }
}
